.signup-general-card{
    color: white;
    background-color: gray;
    margin: auto;
    max-width: 80%;
    min-height: 350px;
    padding: 50px 20px;
}

.signup-form{
    display: flex;
    flex-flow: row;
    margin-left: 2rem;
}

.section-1, .section-2{
    min-width: 50%;
    padding: 0 3%;
}

.form-group{
    margin-bottom: 5%;
}
.info-text{
    color: white;
    display: block;
    margin: 0.5% 5%;
}
.signup-button{
    margin: 1% 30%;
    width: 30%;
}
.section-3{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-back-button{
    margin-top: 1%;
}

/* @ medium */
@media screen and (max-width:550px) {
    .signup-form{
        margin-left: unset;
    }
    .section-1, .section-2{
        padding: 0;
    }
}

/* @ small */
@media screen and (max-width: 376px) {
    .signup-form{
        width: 100%;
        margin-left: unset;
    }
    .section-1, .section-2{
        padding: 0;
    }
    .info-text, 
    .signup-button,
    .login-back-button,
    .input-text-size{
        font-size: 10px;
    }
}