.login-general-card{
    max-width: 55%;
    margin: auto;
    min-height: 320px;
    padding: 50px 20px;
}

.form-group{
    margin-bottom: 5%;
}

@media screen and (max-width:767px){
    .login-general-card{
        max-width: 82%;
    }

    .image-login-container{
        margin: auto;
        margin-bottom: 5%;
    }
}

.login-form{
    display: block;
    align-items: center;
    justify-items: center;
    padding: 1.5rem;
    padding-top: 0.5rem;
    justify-content: center;   
}

.email-form, .password-form{
    margin: 15px auto;
}

.email-form{
    margin-top: 0;
}

.login-button{
    margin-top: 8px;
    width: 50%;
    margin: 5% 25%;
}

@media (max-width: 767px) {
      .login-form{
        padding: 0;
   }
}

